<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Categorias</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      categorias
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Nova Categoria
    </a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Fitoterápicos</strong><br>
        <small>Beladona, Calêndula , Camomila , Capim Limão..</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm">Editar</a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Homeopáticos</strong><br>
        <small>Hoephasina, Apis , Pulsatilla , Natrum muriaticum CH6..</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm">Editar</a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Alopáticos</strong><br>
        <small>Ciprofloxacino, Cefalexina , Marbofloxacino , Neomicina..</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm">Editar</a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
